





















#registerBody {
    display: flex;
    justify-content: center;
}

#regFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 75vh;
    width: 50%;
    background-color: rgb(221, 220, 220);
}

#registerForm {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    background-color: #bbe4e9;
    padding: 10px;
}

#regFormTag {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}