




















#homeDiv {
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-rows: 1fr 1fr 1fr;
    margin: 0;
    height: 100vh;
}
