




















footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f95959;
    grid-area: footer;
    width: 100%;
    height: 7vh;
    border-top: 2px solid #d5eeff;
}

.footerPar {
    font-size: 0.9rem;
    font-weight: bold;
}