




















footer {
    display: flex;
    justify-content: center;
    background-color: #f95959;
    grid-area: footer;
    width: 100%;
    height: 10vh;
}

.footerPar {
    font-size: 1.1rem;
    font-weight: bold;
}